<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.midispositivo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".verSolicitudActivity"
            android:exported="false"
            android:parentActivityName=".SolicitudesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SolicitudesActivity" />
        </activity>
        <activity
            android:name=".NuevaSolicitudActivity"
            android:exported="false"
            android:parentActivityName=".SolicitudesClientesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SolicitudesClientesActivity" />
        </activity>
        <activity
            android:name=".SolicitudesClientesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NuevoUsuarioActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SolicitudesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>